
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


body {
    background-color: black;
    color: rgb(204, 204, 255);
    overflow-x:hidden;
}

a {
    color: wheat;
    text-decoration: none;
}

/* Navbar */ 
/* #contact-form {
    margin-left: 800px;
} */

/* Navbar End */


/* Landing start */
/* COME BACK AND FIX IMAGE */
/* .main {
    position: relative;
} */
.main {
    content: '';
    /* display: block; */
    /* position: absolute; */
    background: url(./images/C12\ C2\ Lyle\ Kepkey\ \(1\).JPG) no-repeat;
    /* background-color: white; */
    background-size: cover;
    height: 90vh;
    /* opacity: 0.5; */
    /* line-height: 5; */
    width:100%;

}


.main h3 {
    font-size: 4.4rem;
    font-weight: 700;
    position: relative;
}
.main h6 {
    border-bottom: 3px solid black;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    width: 50%;
}


/* Landing end */


/* ABOUT */

.about img {
    box-shadow: 3px 3px 19px 0px rgba(255,255,255);
}
h1{
    font-size: 3rem;
    font-weight: 900;
}

/* PROG BAR */
.progress{
    align-items: center;
    background-color:  #FF00FF;
    border-radius: 50px;
    display: flex;
    height: 25px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

/* Prog1 */
.prog-value1 {
    animation: load1 5s normal forwards;
    background-color: black;
    /* background-color: #FF00FF; */
    border-radius: 50px;
    height: 25px;
    width: 0px;
    padding: 3px;
}
.progress p{
    color: wheat;
}

@keyframes load1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

/* Prog2 */
.prog-value2 {
    animation: load2 5s normal forwards;
    background-color: black;
    /* background-color: #FF00FF; */
    border-radius: 50px;
    height: 25px;
    width: 0px;
    padding: 3px;
}
@keyframes load2 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

/* Prog3 */
.prog-value3 {
    animation: load3 5s normal forwards;
    background-color: black;
    /* background-color: #FF00FF; */
    border-radius: 50px;
    height: 25px;
    width: 0px;
    padding: 3px;
}
@keyframes load3 {
    0% {
        width: 0;
    }
    100% {
        width: 98%;
    }
}

/* Prog4 */
.prog-value4 {
    animation: load4 5s normal forwards;
    /*background-color: black;*/
    border-radius: 50px;
    height: 25px;
    width: 0px;
    padding: 3px;
    -webkit-animation: load4 5s normal forwards;
}
@keyframes load4 {
    0% {
        width: 0;
    }
    100% {
        width: 0%;
    }
}

/* ABOUT END */

/* Testimonial */

.container1 {
    /* background-color: aqua; */
    /* height: 200vh; */
    height: 200dvh;
    text-align: center;
}
/* Contact form */

/* Contact form End */

.cards-container-1 {
    background-color: black;
    /* color: wheat; */
    display: flex;
    height: 190vh;
    justify-content: center;
    margin: 0px;
    padding-top: 100px;
    /* overflow: hidden; */
}
#cards1 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 926px;
    width: calc(100% - 20px);
}

.card-1 {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    color: rgb(204, 204, 255);
    height: 570px;
    position: relative;
    width: 300px;
}
.card-content-1 {
    padding-top: 10px;
    text-align: center;
}
.card-content-1 img {
    width: 170px;
}

/* #contact-form{
    position: absolute;
    bottom: 0;
} */


/* Testimonial End */
